*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}
.menu-bar{
    background-color : peachpuff;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;

}

.menu-bar ul li{
    width: 120px;
    margin: 10px;
    padding: 10px;
    color:#fc5185 ;
}
.menu-bar ul li a{
    text-decoration: none;
}
.menu-bar img {
    float: left;
    padding: 10px;
    
}


.menu-bar i{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}

.menu-bar ul li :hover .sub-menu-1
{
    display: block;
    position: absolute;
    background-color: green;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li :hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li :hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1 px dotted;
}